.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
    width: 500px;
}

.contact-h1 {
    text-align: left;
    font-size: 24px;
    margin: 0;
}

.contact-divider {
    border: 1px inset rgba(204, 204, 204, 0.5);
    width: 100%;
    margin: 4px auto;
}

.contact-group {
    display: flex;
    gap: 32px;
}

.contact-label {
    font-size: 18px;
    text-align: left;
    margin: 20px 0 4px;
}

.contact-input {
    height: 24px;
    width: 224px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 4px;
    font-size: 14px;
    font-family: 'Raleway', serif;
    font-weight: 600;
    margin-top: 4px;
}

.contact-textarea {
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 6px;
    font-size: 14px;
    font-family: 'Raleway', serif;
    font-weight: 600;
}

.contact-button {
    width: 200px;
    height: 32px;
    font-size: 14px;
    background-color: #034cdf;
    color: white;
    border: 1px solid transparent;
    font-family: 'Raleway', serif;
    border-radius: 4px;
    margin-top: 24px;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #013397;
}

.feedback-form {
    height: 507px;
}

.feedback-text {
    font-weight: 600;
}

.check {
    display: inline-block;
    margin-top: 96px;
    transform: rotate(45deg);
    height: 24px;
    width: 12px;
    border-bottom: var(--borderWidth) solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
    --borderWidth: 7px;
    --borderColor: #78b13f;
}

.validation-error {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .contact-form {
        width: 330px;
        padding-bottom: 80px;
    }

    .contact-h1 {
        font-size: 18px;
    }

    .contact-group {
        gap: 20px;
    }

    .contact-label {
        font-size: 14px;
    }

    .contact-input {
        width: 145px;
    }
}

@media only screen and (max-width: 335px) {
    .contact-form {
        width: 260px;
        padding-bottom: 80px;
    }

    .contact-input {
        width: 110px;
    }
}