.hero {
    height: 100vh;
    background-image: url(../images/beautiful-lake.jpg);
    background-size: cover;
    background-position: top;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .40);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-heading {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
}

.hero-text {
    color: white;
    max-width: 600px;
    text-shadow: 1px 1px 2px black;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .hero {
        height: 85vh;
        background-image: url(../images/beautiful-lake_mobil.jpg);
    }

    .hero-heading {
        font-size: 32px;
    }

    .hero-text {
        font-size: 16px;
        max-width: 280px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 601px) {
    .hero {
        height: 90vh;
    }
    .hero-heading {
        font-size: 36px;
    }
    .hero-text {
        font-size: 18px;
        max-width: 500px;
    }
}